<div class="container-fluid">
  <div class="row">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <sidebar></sidebar>
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <a class="navbar-brand" href="#/">World {{countriesList.length}} countries information  </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" >
                <input ng-model="query" type="text" class="form-control" placeholder="Search...">
              </form>
            </div>
        </div>
      </nav>
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
            <h1 class="page-header">World {{countriesList.length}}  Countries List</h1>


            <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                 <a class="navbar-brand" href="#/">World {{countriesList.length}} countries information  </a>
              </div>
              <div id="e cnavbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" >
                  <input ng-model="query" type="text" class="form-control" placeholder="Search...">
                </form>
              </div>
            </div>
            </nav>
            <div class="col-sm-3 col-md-2 sidebar">
                      <ul class="nav nav-sidebar">
                        <li class="active"><a href="#/">Global <span class="sr-only">(current)</span></a></li>
                        <li><a href="#/">Stats</a></li>
                        <li><a href="#/">Facts</a></li>
                      </ul>
                    </div>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                        <th><a href="" ng-click="sortField='countryName'; reverse=!reverse" >Country Name</a></th>
                        <th><a href="" ng-click="sortField='countryCode'; reverse=!reverse">Country Code</a></th>
                        <th><a href="" ng-click="sortField='currencyCode'; reverse=!reverse">Currency Code</a></th>
                        <th><a href="" ng-click="sortField='population';reverse=!reverse">Population</a></th>
                        <th><a href="" ng-click="sortField='capital';reverse=!reverse">Capital</a></th>
                        <th><a href="" ng-click="sortField='continentName';reverse=!reverse">Continent Name</a></th>
                        <th><a href="" ng-click="sortField='areaInSqKm';reverse=!reverse">Area in Sqm</a></th>
                         <th>Flag</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="country in countriesList | filter:query | orderBy:sortField:reverse" >
                        <td> <a href="#/{{country.countryName}}">{{country.countryName}}</a> </td>
                       <td> <a href="#/{{country.countryName}}">{{country.countryCode}}</a> </td>
                       <td> <a href="#/{{country.countryName}}">{{country.currencyCode}}</a> </td>
                      <td> <a href="#/{{country.countryName}}">{{country.population }}</a> </td>
                      <td> <a href="#/{{country.countryName}}">{{country.capital}}</a> </td>
                      <td> <a href="#/{{country.countryName}}">{{country.continentName}}</a> </td>
                      <td> <a href="#/{{country.countryName}}">{{country.areaInSqKm}}</a> </td>
                        <td><img ng-src="{{country.flagURL}}" width="100"></img></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
</div>
