<div class="container-fluid">
  <div class="row">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <a class="navbar-brand" href="#/">World Countries List  </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                 <li><a href="#/" ng-click="searchValue='Africa'">Africa</a></li>
                 <li><a href="#/" ng-click="searchValue='Antarctica'">Antarctica</a></li>
                 <li><a href="#/" ng-click="searchValue='Africa'">Asia</a></li>
                 <li><a href="#/" ng-click="searchValue='Europe'">Europe</a></li>
                 <li><a href="#/" ng-click="searchValue='North America'">North America</a></li>
                 <li><a href="#/" ng-click="searchValue='Oceania'">Oceania</a></li>
                 <li><a href="#/" ng-click="searchValue='South America'">South America</a></li>
              </ul>
              <form class="navbar-form navbar-right" >
                <input ng-model="searchValue" type="text" class="form-control" value="searchValue" placeholder="Search here...">
              </form>
            </div>
        </div>
      </nav>
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
            <h1 class="page-header">World Countries List... </h1>
              <div class="btn-group btn-group-justified" role="group" aria-label="Sort By..">
                <div class="btn-group" role="group">
                  <button ng-click="sortField='countryName'; reverse=!reverse" type="button" class="btn btn-default" style="font-weight:bolder">
                  By alphabetical order
                  </button>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="sortField='population'; reverse=!reverse" type="button" class="btn btn-default" style="font-weight:bolder">
                    By population
                  </button>
                </div>
                <div class="btn-group" role="group">
                <button ng-click="sortField='areaInSqKm'; reverse=!reverse" type="button" class="btn btn-default" style="font-weight:bolder">
                    By area
                  </button>
                </div>
              </div>




            <h3>{{(countriesList | filter : searchValue).length}} result(s) found  {{ searchValue | uppercase }}</h3>
            <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span style=" color: #9d9d9d;">Search</span>
                </button>
                 <a class="navbar-brand" href="#/">World countries List  </a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" >
                  <input ng-model="searchValue" type="text" class="form-control" value="searchValue" placeholder="Search here..." >
                </form>
              </div>
            </div>
            </nav>
            <div class="col-sm-3 col-md-2 sidebar">
                      <h4>Continents</h4>
                        <ul class="nav nav-sidebar">
                          <li>
                            <a href="#/" ng-click="searchValue='Africa'">Africa</a>
                            <a href="#/" ng-click="searchValue='Antarctica'">Antarctica</a>
                            <a href="#/" ng-click="searchValue='Europe'">Europe</a>
                            <a href="#/" ng-click="searchValue='North America'">North America</a>
                            <a href="#/" ng-click="searchValue='Oceania'">Oceania</a>
                            <a href="#/" ng-click="searchValue='South America'">South America</a>
                          </li>
                      </ul>
                    </div>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                        <th class="hidden-xs hidden-sm"><a href="" ng-click="sortField='countryName'; reverse=!reverse" >Country Name</a></th>
                        <th ><a href="" ng-click="sortField='countryCode'; reverse=!reverse">Country Code</a></th>
                        <th class="hidden-xs hidden-sm"><a href="" ng-click="sortField='currencyCode'; reverse=!reverse">Currency Code</a></th>
                        <th class="hidden-xs hidden-sm"><a href="" ng-click="sortField='population';reverse=!reverse">Population</a></th>
                        <th class="hidden-xs hidden-sm"><a href="" ng-click="sortField='capital';reverse=!reverse">Capital</a></th>
                        <th class="hidden-xs hidden-sm"><a href="" ng-click="sortField='continentName';reverse=!reverse">Continent Name</a></th>
                        <th class="hidden-xs hidden-sm"><a href="" ng-click="sortField='areaInSqKm';reverse=!reverse">Area in Sqm</a></th>
                         <th>Flag</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="country in countriesList | filter:searchValue | orderBy:sortField:reverse" >
                        <td class="hidden-xs hidden-sm"> <a href="#/{{country.countryName}}">{{country.countryName}}</a> </td>
                     <td> <a href="#/{{country.countryName}}">{{country.countryCode}}</a></td>
                       <td class="hidden-xs hidden-sm"> <a href="#/{{country.countryName}}">{{country.currencyCode}}</a> </td>
                      <td class="hidden-xs hidden-sm"> <a href="#/{{country.countryName}}">{{country.population | number}}</a> </td>
                      <td class="hidden-xs hidden-sm"> <a href="#/{{country.countryName}}">{{country.capital}}</a> </td>
                      <td class="hidden-xs hidden-sm"> <a href="#/{{country.countryName}}">{{country.continentName}}</a> </td>
                      <td class="hidden-xs hidden-sm"> <a href="#/{{country.countryName}}">{{country.areaInSqKm}}</a> </td>
                        <td><img ng-src="{{country.flagURL}}" width="100"></img></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
</div>
